<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">   
    <link rel="stylesheet" type="text/css" href="../../tela_user/tela_principal.css" media="screen" />
    <title>Bem-Vindo</title>
</head>
    <body>
        {{#with associados}}
        
        <header>
            <a href="https://www.marvel.com/">
            </a>
            <nav  tabindex="0">
                <ul class="menu">
                    <li>
                        <a href="/clube/associado/{{id_associados}}/edit" aria-label="Acesso a página Galeria">Atualizar Dados</a>
                    </li>
                    {{#if situacao }}
                    <li>
                        <a href="/clube/associado/{{id_associados}}/dependentes" aria-label="Acesso ao HOME">Cadastrar Dependentes</a>
                    </li>
                    <li>
                        <a href="/clube/associado/{{id_associados}}/dependentes/view" aria-label="Acesso a visualização Dependentes">Visualizar Dependentes</a>
                    </li>
                    <li>
                        <a href="/clube/associado/{{id_associados}}/agendamento" aria-label="Acesso a página personagens">Agendamentos</a>
                    </li>
                    {{/if}}
                      
                    <li>
                        <a href="/" aria-label="Acesso a página Vídeos">Sair</a>
                    </li>
                </ul>
            </nav>
        </header>

        <h1>Bem-Vindo {{nome}}</h1>
        {{#if situacao}}
            <h3>Status: ativo</h3>
        {{else}}
            <h3>Status: desativado</h3>
        {{/if}}

        {{/with}}
        
        <hr>

        <h1>Agendamentos</h1>

        <br>

        <main role="main" class="container" >
            {{#if messages.message}}
                {{#if messages.sucesso}}
                    <div style="color: green;" class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong style="margin-left: 40%;">{{messages.sucesso}}</strong> 
                    
                {{/if}}
                {{#if messages.error}}
                    <div style="color: green;" class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong style="margin-left: 30%;">{{messages.error}}</strong> 
                    
                {{/if}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        {{!-- <span aria-hidden="true"></span> --}}
                        <a aria-hidden="true" href="/clube/associado/{{associados.id_associados}}">&times;</a>
                </button>
                
            {{/if}}
    </main>

    <br>
        
        <table border="1px">
            <tr>
                <th>Nome</th>
                <th>Data</th>
            </tr>
            {{#each agendamento}}
            <tr>
                <td>{{this.[areas_comun.nome]}}</td>
                <td>{{this.data}}</td>
                <td><a href="/clube/associado/{{this.id_associados}}/excluir/agendamento/{{this.id_agendamento}}">Excluir</a></td>
            </tr>
            {{/each}}
            

        </table>
        

        
    </body>
</html>